fpdf
requests
reportlab
beautifulsoup4
cloudscraper
graphviz
fuzzywuzzy
urllib3
pyAesCrypt
future
chardet
locust
prettytable
pytest
telebot
pyTelegramBotAPI
PyQt5
retry
python-ntlm
cryptography
pillow
filelock
playwright
python-dotenv
matplotlib
Flask
pythonping
base58
ecdsa
aiohttp>=3.13.3